*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(99,179,217);
background: radial-gradient(circle, rgba(99,179,217,1) 14%, rgba(95,90,252,1) 48%, rgba(60,179,255,1) 82%);
}
.container{
    width: 100%;
    max-width: 1250%;
    margin: 0 auto;
    padding: 0 15px;
}
img{
    width: 400px;
    height: 400px;
}
ul{
    list-style-type: none;
}
.header-inner{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-inner{
    width: 100%;
    height: 700px;
    display: flex;
}
.main-inner--left{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 13, 13);
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-inner--right{
    width: 70%;
    height: 100%;
    background-color: rgb(43, 144, 226);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-righ-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul>li{
    font-size: 150px;
    font-weight: 500;
    line-height: 100px; 
    }
ul>li:hover{
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: coral;
}
.block{
    width: 150px;
    height: 100px;
    background-color: darkgreen;
}
